* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

body {
    background: url('../images/logo_game.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

nav {
    color: #FF0000
}

section {
    background: rgba(95, 92, 92, 0.7);
    padding: 20px;
    border-radius: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

a {
    height: 50px;
    width: 300px;
    color: #FF0000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 36px;
    background: transparent;
    font-family: 'BlackWidow';
    text-decoration: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botao-jogo {
    font-family: 'BlackWidow', sans-serif;
    font-size: 24px;
    color: #FF0000;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px 0;
    color: white;
}

footer a {
    color: #FF0000;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial Black', sans-serif;
    font-style: italic;
    display: inline-block;
    transition: all 0.3s ease;
}

footer a:hover {
    color: #CC0000;
    text-decoration: underline;
}

@font-face {
    font-family: 'BlackWidow';
    src: url('../font/BlackWidow.ttf') format('truetype');
}

@font-face {
    font-family: 'OverPass';
    src: url('../font/overpass-extrabold.ttf') format('truetype');
}